<dialog #modal>
    <div class="selfContainer">
        <button (click)="closeModal()" class="buttonExclude close">X</button>
        <h1>Procurar Cliente</h1>
        <hr class="defaultHR">
        <div class="search">
            <input class="defaultInput" placeholder="Digite o nome do cliente" type="text">
            <button class="defaultBorder defaultButton">Procurar</button>
        </div>
        <div class="consumerResults">
            <button class="defaultButton defaultBorder" *ngFor="let consumer of consumers"
                (click)="onConsumerChoose(consumer)">{{consumer.name}}</button>
        </div>
    </div>
</dialog>