<div class="selfContainer defaultPadding">
    <div class="searchOptions defaultBorder">
        <div class="filterSpan">
            <div class="orderNumberFilter"><span>N°</span></div>
            <div class="consumerFilter">
                <span (click)="openSearchDialog()" id="consumerSearchSpan"
                    title="Clique para procurar clientes!">Cliente</span>
            </div>
            <div class="descriptionFilter"><span>Descrição</span></div>
            <div class="dateInitialFilter"><span>Data Inicial</span></div>
            <div class="dateFinalFilter"><span>Data Final</span></div>
            <div class="groupFilter"><span>Grupo</span></div>
            <div class="totalFilter"><span>Total Ordem</span></div>
        </div>
        <div class="filterInput">

            <div class="orderNumberFilter">
                <input [(ngModel)]="filterByOrderNumber" (ngModelChange)="filter()" type="number" min="0"
                    placeholder="N° OS">
            </div>
            <div class="consumerFilter">
                <input [(ngModel)]="filterByConsumerName" (ngModelChange)="filter()" type="text"
                    placeholder="Digite o nome do cliente">
            </div>
            <div class="descriptionFilter">
                <input [(ngModel)]="filterByDescription" (ngModelChange)="filter()" type="text"
                    placeholder="Digite a descrição">
            </div>
            <div class="dateInitialFilter">
                <input [(ngModel)]="filterByInitialDate" (ngModelChange)="filter()" type="date">
            </div>
            <div class="dateFinalFilter">
                <input [(ngModel)]="filterByFinalDate" (ngModelChange)="filter()" type="date">
            </div>
            <div class="groupFilter">
                <select [(ngModel)]="filterByGroup" (ngModelChange)="filter()">
                    <option value="all">Todos</option>
                    <option *ngFor="let part of defaultParts" [value]="part.name">
                        {{ part.name }}
                    </option>
                </select>
            </div>
            <div class="totalFilter">
                <select [(ngModel)]="filterTotalOfOrder">
                    <option value="yes">Sim</option>
                    <option value="no">Não</option>
                </select>
            </div>

        </div>


        <div class="filterSpan" style="margin-top: 1%;">
            <div class="initialOrderFilter"><span>OS Inicial</span></div>
            <div class="finalOrderFilter"><span>OS Final</span></div>
            <div class="removeOrdersFilter"><span>Excluir OS do Filtro</span></div>
            <div class="totalSelectionFilter"><span>Total Geral</span></div>
            <div class="paidFilter"><span>Filtrar Pagos</span></div>
            <div class="saveConsumerBalance"><span>Salvar Fechamento</span></div>
            <div class="allInThisPageArePaid"><span>Tudo Pago</span></div>
        </div>
        <div class="filterInput">
            <div class="initialOrderFilter">
                <input [(ngModel)]="filterByInitialOrder" (ngModelChange)="filter()" type="number" min="0"
                    placeholder="N° OS Inicial">
            </div>

            <div class="finalOrderFilter">
                <input [(ngModel)]="filterByFinalOrder" (ngModelChange)="filter()" type="number" min="0"
                    placeholder="N° OS Final">
            </div>


            <div class="removeOrdersFilter">
                <input readonly [(ngModel)]="excludeOrderFromFilterText" type="text" min="0"
                    placeholder="0001,0002,0003">
            </div>

            <div class="totalSelectionFilter">
                <select [(ngModel)]="filterTotalOfSelection">
                    <option value="yes">Sim</option>
                    <option value="no">Não</option>
                </select>
            </div>

            <div class="paidFilter">
                <select [(ngModel)]="filterIsPartPaid" (ngModelChange)="filter()">
                    <option value="all">Todos</option>
                    <option value="yes">Sim</option>
                    <option value="no">Não</option>
                </select>
            </div>

            <div class="saveConsumerBalance">
                <button class="defaultButton" (click)="saveBalance()" style="width: 100%">Salvar</button>
            </div>

            <div class="allInThisPageArePaid">
                <button class="defaultButton" (click)="setPaidAllOrdersOfTheFilter()" style="width: 100%">Tudo
                    Pago</button>
            </div>

        </div>
    </div>
    <div class="tableOrders">
        <table>
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Data</th>
                    <th>Cliente</th>
                    <th>Grupo</th>
                    <th>Serviço</th>
                    <th>Descrição</th>
                    <th>Qtd</th>
                    <th>Total Qtd</th>
                    <th>Pago</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isBalancePage">
                    <td colspan="9">
                        <div class="balanceTitle">
                            <span>Data: {{balance.date | date : 'dd/MM/yyyy HH:mm' }}</span>
                            <span>Fechamento N°{{balance.id}}</span>
                            <span>Data do Pagamento: {{balance.dateOfPayment | date : 'dd/MM/yyyy HH:mm' }} </span>
                        </div>
                    </td>
                </tr>
                <ng-container *ngFor="let order of filteredOrders">
                    <tr *ngFor="let part of order.parts " [ngClass]="{ excludedFromFilterRow: isExcluded(order.id), negativePriceRow: (part.priceTotal ?? 0) <= 0, paidRow: part.isPaid}">
                        <td class="tdWithDropdown" (click)="showDropdown($event, order)">
                            {{order.id}}
                        </td>
                        <td>{{order.date | date : 'dd/MM/yyyy HH:mm' }}</td>
                        <td class="tdWithDropdown" (click)="showDropdown($event, order.consumer)">
                            {{order.consumer?.name}}
                        </td>
                        <td class="tdWithDropdown" *ngIf="part.name == 'Bloco'"
                            title="Clique para ver o numero do bloco!" (mouseenter)="showHover($event, order)"
                            (mouseleave)="hideHover()"><a style="text-decoration: none; color: inherit;"
                                [href]="this.ORDER_ENGINEBLOCKNUMBERIMAGE_URL + '/' + order.id + '/Show'"
                                target="_blank">{{part.name}}</a></td>
                        <td *ngIf="!(part.name == 'Bloco')">{{part.name}}</td>
                        <td>{{part.service}}</td>
                        <td>{{part.description}}</td>
                        <td>{{part.quantity}}</td>
                        <td>{{part.priceTotal?.toFixed(2)}}</td>
                        <td>{{part.isPaid ? "Sim" : "Não"}}</td>
                    </tr>
                    <ng-container *ngIf="filterTotalOfOrder == 'yes'">
                        <tr [ngClass]="{ 'rowOrderTotal': true, 'paidRowTotal': checkAllPartsOfOrderIsPaid(order) }">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{order.priceTotal?.toFixed(2)}}</td>
                            <td></td>
                        </tr>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="(filterTotalOfSelection == 'yes') && (filteredOrders.length > 0)">
                    <tr class="rowOrderTotal totalOfSelectionRow">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>TOTAL GERAL</td>
                        <td></td>
                        <td>{{this.getTotalOfFilteredOrders()}}</td>
                    </tr>
                </ng-container>

                <tr *ngIf="haveNextPage && !filteredByDate && !isBalancePage">
                    <td colspan="9" style="text-align: center; padding: 10px;">
                        <button style="width: 100%;" class="defaultButton" (click)="loadOrders()"
                            [disabled]="isLoadingOrders">
                            <span *ngIf="!isLoadingOrders">Carregar Mais Ordens de Serviço - Página {{page}}</span>
                            <span *ngIf="isLoadingOrders">Carregando...</span>
                        </button>
                    </td>
                </tr>

                <tr *ngIf="isBalancePage">
                    <td colspan="9" style="text-align: center; padding: 10px;">
                        <button style="width: 100%;" class="defaultButton" (click)="resetOrdersFromBalance()">Resetar
                            Ordens de Serviço</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<app-dialog-consumer-search
    (objectSentToParent)="getConsumerFromChildAndSendToParent($event)"></app-dialog-consumer-search>


<div class="dropdownContent defaultBorder" *ngIf="isDropdownVisible" [style.left.px]="dropdownPosition.left"
    [style.top.px]="dropdownPosition.top" (mouseleave)="hideDropdown()">
    <div class="dropdownOptions">
        <ng-container *ngFor="let option of dropdownOptions">
            <ul>

                <!-- INTERNAL -->
                <li *ngIf="option.type === 'internal'">
                    <a [routerLink]="option.url" [queryParams]="option.queryParam" [target]="option.target">
                        {{option.description}}
                    </a>
                </li>

                <!-- EXTERNAL -->
                <li *ngIf="option.type === 'external'">
                    <a [href]="option.url" [target]="option.target">
                        {{option.description}}
                    </a>
                </li>

                <!-- JUST BIND -->
                <li *ngIf="option.type === 'bind'">
                    <button class="defaultButton" style="width: 100%;" (click)="option.action?.()">
                        {{option.description}}
                    </button>
                </li>

            </ul>
        </ng-container>
    </div>

    <div class="hoverContent defaultBorder" *ngIf="isHoverVisible">
        <div class="hoverContentInfo">
            <span>OS N°: {{this.HoverContentOption.orderId}}</span>
            <span>Cliente: {{this.HoverContentOption.consumerName}}</span>
        </div>
        <img id="hoverImage" src="data:image/jpeg;base64,{{this.HoverContentOption.engineBlockNumberImage}}"
            alt="Foto do Numero do Bloco">
    </div>