.searchOptions {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.filterSpan,
.filterInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.consumerFilter,
.dateInitialFilter,
.dateFinalFilter,
.serviceFilter {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.divForClick {
    z-index: 2;
    width: 100%;
    height: 100%;
}

span {
    width: 100%;
}

.searchConsumerButton {
    height: 30px;
    background-color: white;
    text-align: center;
    border-radius: .3rem;
    padding: .5rem;
    margin-right: -.2rem;
    border: 1px solid #293646;
}

.searchConsumerButton:hover {
    background-color: #293646;
}

input,
select {
    width: 100%;
    margin-left: .5rem;
    margin-right: .5rem;
    border: 1px solid #293646;
    text-align: center;
    height: 30px;
}

input:disabled {
    color: #293646;
}

input::placeholder {
    text-align: center;
    color: #293646;
}

.searchConsumerInput::disabled {
    pointer-events: auto;
}

.rowOrderTotal td {
    border: none;
    background-color: rgba(41, 54, 70, .1);
}

tr:hover {
    background-color: rgba(41, 54, 70, .2);
}

.tdWithDropdown {
    cursor: pointer;
}

.tdWithDropdown:hover {
    color: blue;
}

.dropdownContent {
    position: absolute;
    display: flex;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    z-index: 100;
    text-align: center;
}

li {
    list-style: none;
    padding: .5rem;
}

li:hover {
    background-color: rgba(41, 54, 70, .2);
}

.dropdownContent a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.dropdownContent a:hover,
.dropdownContent a:focus {
    color: darkblue;
    text-decoration: none;
}