<div class="container">
    <app-navbar></app-navbar>
    <div #pageContent class="pageContent">
        <app-page-title title="Listar Ordens de Serviço"></app-page-title>
        <app-list-orders-handler></app-list-orders-handler>        
        <app-footer></app-footer>
        <div class="floating-button-container">
            <button class="defaultButton" *ngIf="!isTop" (click)="scrollUp()">
              Subir ↑
            </button>
            <button class="defaultButton" *ngIf="!isBottom" (click)="scrollDown()">
              Descer ↓
            </button>
          </div>
    </div>
</div>
