<aside class="container">
    <div class="title">
        <h1> Quick Rectify</h1>
    </div>
    <hr>
    <div class="mainPages">
        <ul>
            <li><a [routerLink]="['/home']">Inicio</a></li>
            <li><a [routerLink]="['/new-order']">Nova Ordem</a></li>
            <li><a [routerLink]="['/list-orders']">Ordens de Serviço</a></li>
            <li><a [routerLink]="['/consumers']">Clientes</a></li>
            <li><a [routerLink]="['/cashier']">Caixa (W.I.P)</a></li>
        </ul>
    </div>
    <hr>
    <div class="auxiliarPages">
        <ul>
            <li><a target="_blank" href="">Contas a Pagar</a></li>
            <li><a target="_blank" href="https://www.simploonline2.com/">Simplo Medidas</a></li>
            <li><a target="_blank" href="https://nfe.prefeitura.sp.gov.br/login.aspx">Nota Fiscal Paulista</a></li>
        </ul>
    </div>
    <div class="about">
        <ul>
            <hr>
            <li><a href="">Ajuda</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </div>
</aside>