<div class="container">
    <div class="title">
        <h1>QuickRect</h1>
    </div>
    <hr>
    <div class="mainPages">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Nova Ordem</a></li>
            <li><a href="">Ordens de Serviço</a></li>
            <li><a href="">Clientes</a></li>
        </ul>
    </div>
    <hr>
    <div class="auxiliarPages">
        <ul>
            <li><a target="_blank" href="https://www.simploonline2.com/">Simplo Medidas</a></li>
            <li><a target="_blank" href="https://nfe.prefeitura.sp.gov.br/login.aspx">Nova Fiscal Paulista</a></li>
        </ul>
    </div>

    <div class="about">
        <ul>
            <hr>
            <li><a href="">Ajuda</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </div>
</div>