.container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #293646;
    color: white;
    padding: .5rem;
}

.separator {
    color: red;
}

.separator:hover {
    background-color: #293646;
    cursor: text;
}

.title {
    margin-left: auto;
}

img {
    height: 40px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;      /* centraliza vertical */
    justify-content: center;  /* centraliza horizontal */

    white-space: nowrap;
    margin: 0;
    padding: 0;
}

li {
    padding: .5rem;
}

li:hover {
    background-color: red;
    cursor: pointer;
}


a {
    color: white;
    text-decoration: none;
    width: 100%;
}
