<div class="container">
    <app-navbar></app-navbar>
    <div class="pageContent">
        <app-page-title title="Configurações"></app-page-title>
        <div class="selfContainer defaultPadding" style="text-align: center;">
            <h2 style="margin-bottom: .5rem;" >Aviso de Férias na Ordem de Serviço</h2>
            <div class="defaultBorder defaultPadding">

                <div class="vacationInfo" style="margin-bottom: .5rem;">
                    <div class="vacationField vacationActivated"><span>Ativado</span></div>
                    <div class="vacationField vacationDateInitial"><span>Data Inicial:</span></div>
                    <div class="vacationField vacationDateFinal"><span>Data Final:</span></div>
                    <div class="vacationField vacationMessage"><span>Mensagem:</span></div>
                    <div class="vacationField vacationSave"><span>Pressione para Salvar</span></div>
                </div>

                <div class="vacationInfo">
                    <div class="vacationField vacationActivated">
                            <input class="defaultInput" type="range" min="0" max="1" step="1"
                            [value]=" this.vacationInfoData.vacationActivatedtoggleValue"
                            (click)="toggleRange($event)"
                            id="toggleRange">
                    </div>
                  <div class="vacationField vacationDateInitial"><input [disabled]="this.vacationInfoData.vacationActivatedtoggleValue === 0" class="defaultInput" [(ngModel)]="this.vacationInfoData.dateInitial" type="date" ></div>
                  <div class="vacationField vacationDateFinal"><input [disabled]="this.vacationInfoData.vacationActivatedtoggleValue === 0" class="defaultInput" [(ngModel)]="this.vacationInfoData.dateFinal" type="date" ></div>
                  <div class="vacationField vacationMessage"><input [disabled]="this.vacationInfoData.vacationActivatedtoggleValue === 0" class="defaultInput" [(ngModel)]="this.vacationInfoData.message" type="text"></div>
                  <div class="vacationField vacationSave"><button class="defaultButton" (click)="handlevacationInfoSave()">Salvar</button></div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</div>
