<div class="selfContainer defaultPadding">

    <app-consumer-handler (objectSentToParent)="getConsumerFromChild($event)" ></app-consumer-handler>

    <div class="addParts defaultBorder">
        <p>Adicionar a Ordem: </p>
        <button class="defaultButton defaultBorder" *ngFor="let part of defaultParts" (click)="insertRow(part)" >{{part.name}}</button>
    </div>

    <div class="tableParts defaultBorder">
        <table #tableParts>
            <tbody>
            <tr>
                <th >Grupo</th>
                <th>Serviço</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço Unit.</th>
                <th>Preço Total</th>
                <th>Excluir</th>
            </tr>
            <tr *ngFor="let part of orderParts">
                <td>
                    <span>{{part.name}}</span>
                </td>
                <td>
                    <select [(ngModel)]="part.service" >
                        <option *ngFor="let service of getServicesOfPart(part)" [value]="service">{{ service }}</option>
                      </select>
                </td>
                <td>
                    <input [(ngModel)]="part.description" type="text" placeholder="Descrição">
                </td>
                <td>
                    <input [(ngModel)]="part.quantity" (ngModelChange)="sumRow(part)" type="number" min="1">
                </td>
                <td>
                    <input [(ngModel)]="part.pricePerQuantity" (ngModelChange)="sumRow(part)"  type="number" min="1" step="10" [value]="part.pricePerQuantity">
                </td>
                <td>
                    <input (ngModel)="part.priceTotal" type="number" [value]="part.priceTotal | number:'1.2-2'" disabled>
                </td>
                <td>
                    <button class="buttonExclude" (click)="deleteRow(part)">
                        Excluir
                    </button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="totalValue defaultBorder">
        <div class="totalSpans">

            <span>Total</span>
            <span>Desconto %</span>
            <span>Desconto Valor</span>
            <span>Total Geral</span>
        </div>
        <div class="totalInputs">
            <input  type="number" min="0" value="0">
            <input  type="number" min="0">
            <input  type="number" min="0">
            <input  type="number" min="0">
        </div>
    </div>
    <div class="save defaultBorder">
        <button class="defaultButton defaultBorder">Salvar e Imprimir</button>
        <button class="defaultButton defaultBorder">Somente Salvar</button>
    </div>

</div>
