.addParts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0 .5rem 0;
    margin-bottom: 1rem;
}

.engineBlockNumberImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin-bottom: 1rem;
}

#engineBlockNumberImage {
    width: 50%; 
    max-width: 500px;
}

.tableParts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin-bottom: 1rem;
}

.description { width: 30%; }
.totalPrice { width: 10%; }


input {
    width: 100%;
    border: 1px solid #293646;
    text-align: center;
    padding: .5rem;
}

select {
    text-align: center;
    padding: .5rem;
    width: 100%;
}

.totalValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.totalSpans, .totalInputs{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.save{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
}

.save button{
    width: 40%;
}

.totalSpans span, .totalInputs div, .totalInputs span {
    width: 25%;
    align-self: center;
}

.totalInputs input {
    margin-left: 3%;
    margin-right: 3%;
    width: 80%;
}





