<div class="selfContainer defaultPadding">

    <app-consumer-handler [consumer]="this.order.consumer || {}" (objectSentToParent)="getConsumerFromChild($event)"></app-consumer-handler>

    <div class="addParts defaultBorder">
        <p>Adicionar a Ordem: </p>
        <button class="defaultButton defaultBorder" *ngFor="let part of defaultParts"
            (click)="insertRow(part)">{{part.name}}</button>
    </div>

    <div class="tableParts defaultBorder">
        <table #tableParts>
           <thead>
             <tr>
                 <th class="group">Grupo</th>
                 <th class="service">Serviço</th>
                 <th class="description">Descrição</th>
                 <th class="quantity">Qtd.</th>
                 <th class="unitPrice">Preço Unit.</th>
                 <th class="totalPrice">Total</th>
                 <th class="exclude">Excluir</th>
             </tr>
           </thead>
            <tbody>
                <tr *ngFor="let part of order.orderParts">
                    <td>
                        <span>{{part.name}}</span>
                    </td>
                    <td>
                        <select [(ngModel)]="part.service">
                            <option *ngFor="let service of getServicesOfPart(part)" [value]="service">{{ service }}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input [(ngModel)]="part.description" type="text" placeholder="Descrição">
                    </td>
                    <td>
                        <input [(ngModel)]="part.quantity" (ngModelChange)="sumRow(part)" type="number" min="1">
                    </td>
                    <td>
                        <input [(ngModel)]="part.pricePerQuantity" (ngModelChange)="sumRow(part)" type="number" min="1"
                            step="10" [value]="part.pricePerQuantity">
                    </td>
                    <td>
                        <input (ngModel)="part.priceTotal" type="number" [value]="part.priceTotal?.toFixed(2)"
                            disabled>
                    </td>
                    <td>
                        <button class="buttonExclude" (click)="deleteRow(part)">
                            X
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="totalValue defaultBorder">
        <div class="totalSpans">

            <span>Subtotal</span>
            <span>Desconto %</span>
            <span>Desconto Valor</span>
            <span>Total Geral</span>
        </div>
        <div class="totalInputs">
            <input (ngModel)="order.priceSubTotal" [value]="order.priceSubTotal?.toFixed(2)" disabled
                type="number">
            <input [(ngModel)]="order.discountPercent" (ngModelChange)="sumTotal()" type="number">
            <input [(ngModel)]="order.discountCash" (ngModelChange)="sumTotal()" type="number">
            <input (ngModel)="order.priceTotal" [value]="order.priceTotal?.toFixed(2)" disable type="number">
        </div>
    </div>
    <div class="save defaultBorder">
        <button class="defaultButton defaultBorder" (click)="handleSave(true)">Salvar e Imprimir</button>
        <button class="defaultButton defaultBorder" (click)="handleSave(false)">Somente Salvar</button>
    </div>

</div>