<div class="container">
    <app-navbar></app-navbar>
    <div class="pageContent">
        <div class="greetings ">
            <app-page-title title="Bem vindo ao QuickRectify"></app-page-title>
            <!-- Change for measurement tool photo -->
            <p>O melhor programa de gerenciamento de Ordens de Serviço para Retíficas. </p>
            <p>Escolha a opção desejada a esquerda, ou clique em ajuda para mais informações. </p>
            <img src="./assets/company-logo.png" alt="">
        </div>
        <div class="statistics">

        </div>
        <app-footer></app-footer>
    </div>
   

</div>