<div class="container">
    <app-navbar></app-navbar>
    <div class="pageContent">
        <div class="greetings ">
            <app-page-title title="Bem vindo ao QuickRectify"></app-page-title>
            <!-- Change for measurement tool photo -->
            <p>O melhor programa de gerenciamento de Ordens de Serviço para Retíficas. </p>
            <p>Escolha a opção desejada a esquerda, ou clique em ajuda para mais informações. </p>
            <img src="/browser/assets/caliper.jpg" alt="">
        </div>
        <div class="statistics">
                <h1> Estatísticas Rápidas: </h1>
                <p>Cliente com mais ordens cadastradas: service.mostOrdersClient </p>
                <p>Serviço mais feito: service.mostService </p>

        </div>
        <app-footer></app-footer>
    </div>
   

</div>