.greetings, .statistics {
    width: 100%;
    color: #293646;
    text-align: center;
    overflow: scroll;
}


p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    margin: 1rem;
    opacity: .9;
    width: 30%;
    border: 3px solid #293646;
    border-radius: 1rem;
}


