
h1 {
    text-align: center;
    font-size: 3rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: larger;
}

hr {

    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #293646;
}



