.consumer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    padding: .5rem;
}

.consumer span {
    padding: .5rem;
    font-size: large;
}

button , input {
    height: 35px;
}

input {
    width: 100%;
    border: 1px solid #293646;
    text-align: center;
}

input:disabled {
    color: #293646;
}

input::placeholder {
    text-align: center;
}

.tableConsumer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin-bottom: 1rem;
}


  