.noteContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upperInfo {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.upperData {
    padding: .5rem;
    width: 30%;
    margin-bottom: 0;
}

.upperTitle {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.companyInfo, .paymentInfo {
    border-right: 1px solid #293646;
}

.companyInfo, .consumerInfo{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
}

.partsTable, .totalTable {
    align-self: center;
    width: 90%;
    margin-bottom: 2rem;
}

.totalTable table, .totalTable td, .totalTable th {
    border: none !important;
}

.partsTable th, .totalTable th {
    background-color: white;
    color: #293646;
    padding: .5rem;
}

.lowerInfo {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-collapse: collapse;
    font-size: small;
}

.paymentInfo, .companyInfoForConsumer {
    width: 50%;
}

.partsTable th.group,
.partsTable td.group {
  width: 15%;
}

.partsTable th.service,
.partsTable td.service {
  width: 15%;
}

.partsTable th.description,
.partsTable td.description {
  width: 50%;
}

.partsTable th.quantity,
.partsTable td.quantity,
.partsTable th.unitPrice,
.partsTable td.unitPrice,
.partsTable th.totalPrice,
.partsTable td.totalPrice {
  width: 15%;
}


.companyInfoForConsumer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companyInfoForConsumer p, .companyInfoForConsumer h3 {
    width: 80%;
}

.installments {
        display: grid;
        justify-items: center;
        justify-content: space-evenly;
        grid-template-columns: 25% 25% 25%;
        width: 100%;
}

.qrCode {
    width: 30%;
}

h1, h2, h3,  p, .qrCode {
    margin-bottom: 1rem;
}

.totalTable h3 {
    margin-bottom: 0rem;
}

p:last-child {
    margin-bottom: 0;
}

hr {
    margin-bottom: .5rem;
    border: 1px solid #293646;
}