.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.defaultButton{
    background-color: #293646;
    color: white;
    text-align: center;
    font-size: small;
    white-space: nowrap;
    border-radius: .3rem;
}

.defaultButton:hover {
    background-color: white;
    color: #293646;
}

.defaultInput{
    border: 1px solid #293646;
}

.defaultHR {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    border: 1px solid #293646;
}

.defaultPadding {
    padding: 1rem;
}

.pageContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}


.defaultBorder, th , td, select {
    border: 1px solid #293646;
}

app-footer {
    width: 100%;
    height: max-content;
    margin-top: auto;
    height: 50px;
}