.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

app-navbar {
    width: 15%;
    max-width: max-content;
}

.pageContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.selfContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.defaultButton{
    background-color: #293646;
    color: white;
    text-align: center;
    font-size: small;
    white-space: nowrap;
    border-radius: .3rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .5rem;
}

.defaultButton:hover {
    background-color: white;
    color: #293646;
}


.buttonExclude {
    text-align: center;
    font-size: small;
    white-space: nowrap;
    border-radius: .3rem;
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: .5rem;
}

.buttonExclude:hover {
    border-color: red;
    background-color: white;
    color: red;

}

.defaultInput{
    border: 1px solid #293646;
}

.defaultInput::placeholder{
    text-align: center;
}

.defaultHR {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    border: 1px solid #293646;
}

.defaultPadding {
    padding: 1rem;
}


.defaultBorder, th , td, select {
    border: 1px solid #293646;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

th {
    background-color: #293646;
    color: white;
    padding: .5rem;
}

td {
    padding: .5rem;
}

app-footer {
    width: 100%;
    height: max-content;
    margin-top: auto;
    height: 50px;
}


@media print {
    .pageContent {
        overflow: visible;
    }
}